* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
}

.about,
.plot {
  margin-top: 30px;
  padding: 20px;
  font-family: Alegreya, serif;
}
a {
  text-decoration: none;
  color: coral;
}
#image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 40%;
  border: solid 2px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navBar {
    position: relative;
  }
  .about {
    margin-top: 0px;
  }
}
