$navBacCol: purple;
$foreColor: white;
body {
  margin: 0;
}
.navBar {
  background-color: $navBacCol;
  height: auto;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  a {
    float: left;
    font-size: 25px;
    padding: 15px 20px;
    color: $foreColor;
    font-family: Alegreya;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
}

.navBar {
  img {
    float: right;
    width: 150px;
    height: 62px;
    color: $foreColor;
    border-radius: 5px;
    text-align: center;
  }
  a:hover {
    background-color: $foreColor;
    color: $navBacCol;
  }
  a.activeOne {
    background-color: green;
    color: $navBacCol;
  }
}

@media (max-width: 700px) {
  .navBar {
    a {
      font-size: 15px;
    }
    img {
      height: 50px;
    }
  }
}
@media (max-width: 600px) {
  .navBar {
    background-color: $navBacCol;
    overflow: hidden;
    height: 140px;
    a {
      width: 100%;
      font-size: 18px;
      padding: 0;
    }
    img {
      float: none;
      height: 45px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    a:hover {
      background-color: $foreColor;
    }
  }
}
