* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
}

.section {
  margin-top: 50px;
  padding: 20px;
  font-family: Alegreya, serif;
}
.section ul {
  padding: 20px;
  list-style: none;
  text-decoration: none;
}
#line1 {
  display: none;
}
iframe {
  border: 2px white solid;
  width: 50%;
  height: 50vh;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .navBar {
    position: relative;
  }
  #line1 {
    display: block;
  }
  iframe {
    width: 80vw;
    height: 40vh;
  }
  #border {
    border: 0px;
  }
  .section {
    margin-top: 0px;
  }
}
.border {
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: inset white;
}
